.footer {
    background-color: black;
    padding-top: 66px;
    padding-bottom: 70px;
    min-width: 1170px;
}
.footer-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
		&__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FEFEFE;
		}

		&__text {
            width: 684px;
            font-size: 16px;
            line-height: 28px;
            color: #B9B9B9;
            margin-top: 22px;
		}

		&__links {
            display: flex;
            column-gap: 6px;
            margin-top: 48px;
		}

		&__infos {
            margin-top: 34px;
		}

		&__info {
            font-size: 16px;
            line-height: 26px;
            color: #B9B9B9;
            margin-right: 10px;
		}

        &__info::after {
            content: "/";
            color: #B9B9B9;
            margin-left: 10px;
		}

        &__info:last-child:after {
            content: "";
		}
}

@media screen and (max-width:$middlePoint){
     .footer{
      min-width: $middleContainer;
     }
}

@media screen and (max-width:$smallPoint){
      .footer{
       min-width: $smallContainer;
       padding-top: 38px;
       padding-bottom: 47px;
      }
      .footer-wrap{
            &__text {
                  width: 303px;
                  font-size: 12px;
                  line-height: 20px;
                  text-align: center;
                  color: #B9B9B9;
                  margin-top: 6px;
            }
            &__links {
                  margin-top: 26px;
            }
            &__infos {
                  margin-top: 26px;
                  width: 235px;
                  text-align: center;
            }
      
            &__info {
                  font-size: 14px;
                  line-height: 24px;
                  color: #B9B9B9;
            }
      }
 }