.header{
    padding-top: 45px;
    padding-bottom: 50px;
}
.header-navigation {
}
.burger-btn {
    display: none;
}
.burger-menu {
    @include alignCentre;
		&__items {
            display: flex;
            column-gap: 68px;
		}

		&__item {
            @include navItem;
            display: block;
		}
        &__item--active {
            color: $colorActive;
        }
}

@media (max-width: $middlePoint) {
    .header{
        padding-top: 41px;
        padding-bottom: 43px;
        width: 100%;
    }
    .burger-menu__items{
        column-gap: 34px;
    }
}

@media (max-width: $middleContainer) {
    .header{
        padding-top: 23px;
        padding-bottom: 23px;
    }
    .header-navigation {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .burger-btn {
        @include alignCentre;
        background-color: #000;
        width: 44px;
        height: 37px;
        &__icon {
        }
        &__icon--none {
            display: none;
        }
    }
    .burger-menu {
        position: absolute;
        top: 60px;
        overflow: hidden;
        min-width: 182px;
        height: 220px;
            &__items {
                display: block;
                position: absolute;
                background: #F5F5F5;
                top: -220px;
                transition: 1s;
            }
            &__items--open{
                top: 0;
            }
            &__item {
                @include navItem;
                width: 182px;
                padding-top: 4px;
                padding-bottom: 1px;
                padding-left: 12px;
                &:hover{
                    background: #E5E5E5;
                }
            }
            &__item--active {
                color: #57A4A4;
            }
    }
}