.instagram {
    background-color: rgba(0, 0, 0, 0.03);
    padding-top: 47px;
    padding-bottom: 49px;
    min-width: 1170px;
}
.insta-shots {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

		&__title {
            @include sectionTitleStyle;
		}

		&__link {
            @include sectionTitleStyle;
            font-size: 13px;
		}

		&__images {
            display: flex;
            column-gap: 10px;
            margin-top: 24px;
		}
        &__item {
            display: flex;
            align-items: start;
		}
}

@media screen and (max-width:$middlePoint){
      .instagram{
            min-width: $middleContainer;
      }
      .insta-shots__item:last-child{
            display: none;
      }
      .insta-shots__image{
            width: 245px;
            height: 245px;
      }
}

@media screen and (max-width:$smallPoint){
      .instagram{
            min-width: $smallContainer;
            padding-top: 37px;
            padding-bottom: 42px;
      }
      .insta-shots__item{
            display: none;
      }
      .insta-shots__item:first-child{
            display: block;
      }
      .insta-shots__image{
            width: 301px;
            height: 301px;
      }
      .insta-shots__link{
            display: none;
      }
}