.intro {
}
.intro-foto {
}

@media screen and (max-width: $middlePoint) {
    .intro-foto {
        width: $middleContainer;
        height: 361px;
    }
}

@media screen and (max-width: $smallPoint) {
    
    .intro-foto {
        width: $smallContainer;
        height: 150px;
    }
}