.our-posts {
    padding-top: 66px;
    padding-bottom: 69px;
}
.posts {
		&__title {
            @include sectionTitleStyle;
            margin-bottom: 24px;
		}

		&__wrap {
            display: flex;
            flex-wrap: wrap;
		}

		&__item {
		}
}
.post {
    width: 556px;
    display: flex;
    margin-bottom: 32px;
    margin-right: 24px;
		&__image {
		}
        &__info{
            margin-left: 20px;
        }
		&__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            color: $textColor;
		}

		&__comment {
            font-size: 12px;
            line-height: 20px;
            color: #7C7C7C;
            margin-top: 1px;
		}

		&__text {
            font-size: 14px;
            line-height: 26px;
            color: #5C5C5C;
            margin-top: 13px;
		}
}

.post:nth-child(2){
    margin-bottom: 32px;
    margin-right: 0;
}
.post:nth-child(3){
    margin-bottom: 0;
    margin-right: 24px;
}
.post:nth-child(4){
    margin-bottom: 0;
    margin-right: 0;
}

@media screen and (max-width:$middlePoint){
    .our-posts {
        padding-top: 56px;
        padding-bottom: 60px;
    }
    .post:nth-child(3){
        margin-bottom: 32px;
    }
}

@media screen and (max-width:$smallPoint){
    .our-posts {
        padding-top: 38px;
        padding-bottom: 39px;
    }
    .post{
        flex-direction: column;
        &:last-child{
            display: none;
        }
        &__text{
            display: none;
        }
        &__info{
            margin-left: 0;
        }
    }
}