@import url($mainFont);
html{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:$middlePoint){
    .container{
        width: $middleContainer;
    }
}

@media screen and (max-width:$smallPoint){
    .container{
        width: $smallContainer;
    }
}