@mixin alignCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navItem{
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $textColor;
}

@mixin sectionTitleStyle{
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: $textColor;
    font-size: 16px;
}