$middleContainer: 768px;
$smallContainer: 320px;
$middlePoint: 992px;
$smallPoint: 480px;

$mainFont: 'https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap';

$textColor: #4E4E4E;
$colorActive: #57A4A4;